{% extends "base.html.twig" %}
{% block title %}Lucky random!{% endblock %}
{% block body %}
    
    <div class="row">
        <div class="element column-1x">Elément 1</div>
        <div class="element column-4x">
            <p>Elément <br />{{ number }}</p>
        </div>
    </div>
        

{% endblock %}